<div id="videoContainer"></div>

<div id="contentContainer"></div>

<script src="js/Events.js"></script>
<script src="js/Lib.js"></script>
<script src="js/RecordRTC-5.4.2.js"></script>
<script src="js/headtrackr.js"></script>
<script src="js/ImageQuality.js"></script>
<script src="js/VideoStreaming.js"></script>
<script src="js/Application.js"></script>
<script src="js/Game.js"></script>
<script src="js/Platform.js?streamingType=POST-Video&userId=<%=session[:u_id].to_s%>"></script>
<!-- Unused Test: <script src="js/EvaluationTest.js"></script>-->

