<div class="row">
  <div class="large-12 columns">
    <h1>Before we start...</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
  
  <div class="panel">
    <div class="row-fluid" id="page_instruction">
    <ul>
      <li>Make sure that your face is well illuminated and that your eyes are well visible.</li>
      <li>Turn on the camera and make sure the camera is either above or below the monitor.</li>
      <li>Follow the instructions while the page locates you.</li>
      <li>Keep your head as still as possible during the experiment.</li>
    </ul>
    </div>

    <br />
    <img class="centered" src="../images/capture.jpg" />

  </div>

  </div> <!-- large-12 columns -->
</div> <!-- row -->

<div class="row">
  <div class="small-12 small-centered columns">
    <div class="row">
    <div class="small-11 small-centered columns">
        <%= link_to 'Start', {:controller=>'eyetracker', :action=>'index'}, :class=>'button right'  %>
      </div>
    </div>
  </div>
</div>
